.App {
   /* background: linear-gradient(direction, color-stop1, color-stop2, ...);  */
  background: linear-gradient(45deg, rgba(155,176,250,1) 0%, rgba(167,238,208,1) 100%);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.primary-button {
  height: 50px;
  width: 120px;
  margin: 10px;
  border-radius: 50px;
  color: #FFF;
  background-color: #A7EDD1;
  box-shadow: none;
}
.secondary-button {
  height: 50px;
  width: 120px;
  margin: 10px;
  border-radius: 50px;
  color: #A7EDD1;
  border: solid 2px #A7EDD1 ;
}
.primary-button:hover {
  background-color: #FFF;
  color: #A7EDD1;
}

.secondary-button:hover {
  background-color:#A7EDD1;
  color: #fff;
}

button {
  all: unset;
  cursor: pointer;
  text-align: center;
  justify-content: center;
  font-weight: bold;
}

.nav-item {
  text-decoration: none;
  color: black;
}

.link-active,.link-active:hover,.nav-item:hover {
  color:#A7EDD1;
  text-decoration: none;
}


.hidden-item {
  height: 50px;
  width: 120px;
  margin: 10px;
  visibility: hidden;
}

a{
  text-decoration: none !important;
}